:root {
  --global-padding: 1.5em;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  padding: var(--global-padding);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

body > * {
  width: 100%;
}

#app {
  flex-shrink: 100;
  flex-grow: 100;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

h1,
.title {
  margin: 0 0 var(--global-padding) 0;
  padding: 0;
}

p {
  margin-bottom: var(--global-padding);
}

.gt-editor {
  flex-grow: 100;
  flex-shrink: 100;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  line-height: var(--global-padding);
  border-left: 0.5em solid #00e5aa;
  border-right: 0.5em solid #00e5aa;
  margin: 0 0 var(--global-padding) 0;
  background-color: rgb(235, 235, 235);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
}

.gt-editor * {
  font-family: "Ubuntu Mono", monospace !important;
}

.gt-editor-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px !important;
}

.floating-notification {
  opacity: 0;
  position: fixed;
  bottom: -6em;
  left: var(--global-padding);
  width: calc(100vw - calc(2 * var(--global-padding)));
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.floating-notification.is-active {
  opacity: 1;
  bottom: 0;
  transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
